footer{
    background: #F2A90C;
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    text-align: center;
    justify-content: center;
}
.logo {
    margin-top: 2%;
}
.copy {
    color: #ffffff;
    justify-content: center;
    
} 
 .label-logo{
    font-size: 24px;
    color: #ffffff;
}

